<div>
  <h2 id="page-heading" data-cy="CurriculumVitaeMediaHeading">
    <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.home.title">Curriculum Vitae Medias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-curriculum-vitae-media"
        [routerLink]="['/curriculum-vitae-media/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.home.createLabel">Create a new Curriculum Vitae Media</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (curriculumVitaeMedias?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.home.notFound">No Curriculum Vitae Medias found</span>
    </div>
  }

  @if (curriculumVitaeMedias && curriculumVitaeMedias.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="{ predicate, order: ascending ? 'asc' : 'desc' }" (sortChange)="onSortChange($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mediaUrl">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.mediaUrl">Media Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="curriculumVitaeMediaType">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.curriculumVitaeMediaType">Curriculum Vitae Media Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caption">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.caption">Caption</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="curriculumVitae.companyName">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitaeMedia.curriculumVitae">Curriculum Vitae</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (curriculumVitaeMedia of curriculumVitaeMedias; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/curriculum-vitae-media', curriculumVitaeMedia.id, 'view']">{{ curriculumVitaeMedia.id }}</a>
              </td>
              <td>{{ curriculumVitaeMedia.mediaUrl }}</td>
              <td jhiTranslate="{{ 'zsWebsiteApp.UnifiedMediaType.' + curriculumVitaeMedia.curriculumVitaeMediaType }}">
                {{ curriculumVitaeMedia.curriculumVitaeMediaType }}
              </td>
              <td>{{ curriculumVitaeMedia.caption }}</td>
              <td>
                @if (curriculumVitaeMedia.curriculumVitae) {
                  <div>
                    <a [routerLink]="['/curriculum-vitae', curriculumVitaeMedia.curriculumVitae.id, 'view']">{{
                      curriculumVitaeMedia.curriculumVitae.companyName
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/curriculum-vitae-media', curriculumVitaeMedia.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/curriculum-vitae-media', curriculumVitaeMedia.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(curriculumVitaeMedia)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (curriculumVitaeMedias && curriculumVitaeMedias.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
