<!-- =================== Page Hero Section =================== -->
<section class="page-hero">
  <div class="container">
    <div class="hero-content" data-aos="fade-up">
      <h1 jhiTranslate="privacyPolicy.heroTitle"></h1>
      <p class="lead" jhiTranslate="privacyPolicy.heroSubtitle"></p>
    </div>
  </div>
</section>

<!-- =================== Main Content Section =================== -->
<main class="container py-5">
  <!-- "text-center" has been removed -->
  <p class="sub-heading" jhiTranslate="privacyPolicy.contentSubheading"></p>
  <h2 class="content-heading" jhiTranslate="privacyPolicy.contentHeading"></h2>
</main>
