<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (project) {
      <div>
        <h2 data-cy="projectDetailsHeading"><span jhiTranslate="zsWebsiteApp.project.detail.title"></span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id"></span></dt>
          <dd>
            <span>{{ project.id }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.title"></span></dt>
          <dd>
            <span>{{ project.title }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.descriptionHTML"></span></dt>
          <dd>
            <span>{{ project.descriptionHTML }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.startDate"></span></dt>
          <dd>
            <span>{{ project.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.endDate"></span></dt>
          <dd>
            <span>{{ project.endDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.status"></span></dt>
          <dd>
            <span jhiTranslate="{{ 'zsWebsiteApp.ProjectStatus.' + project.status }}">{{ project.status }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.projectUrl"></span></dt>
          <dd>
            <span>{{ project.projectUrl }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.category"></span></dt>
          <dd>
            <span>{{ project.category }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.project.language"></span></dt>
          <dd>
            <span jhiTranslate="{{ 'zsWebsiteApp.Language.' + project.language }}">{{ project.language }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"></span>
        </button>

        <button type="button" [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"></span>
        </button>
      </div>
    }
  </div>
</div>
