<div>
  <h2 id="page-heading" data-cy="CurriculumVitaeHeading">
    <span jhiTranslate="zsWebsiteApp.curriculumVitae.home.title">Curriculum Vitaes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zsWebsiteApp.curriculumVitae.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-curriculum-vitae"
        [routerLink]="['/curriculum-vitae/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zsWebsiteApp.curriculumVitae.home.createLabel">Create a new Curriculum Vitae</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (curriculumVitaes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="zsWebsiteApp.curriculumVitae.home.notFound">No Curriculum Vitaes found</span>
    </div>
  }

  @if (curriculumVitaes && curriculumVitaes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="{ predicate, order: ascending ? 'asc' : 'desc' }" (sortChange)="onSortChange($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companyName">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.companyName">Company Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.language">Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jobDescriptionHTML">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.jobDescriptionHTML">Job Description HTML</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.curriculumVitae.category">Category</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (curriculumVitae of curriculumVitaes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/curriculum-vitae', curriculumVitae.id, 'view']">{{ curriculumVitae.id }}</a>
              </td>
              <td>{{ curriculumVitae.companyName }}</td>
              <td jhiTranslate="{{ 'zsWebsiteApp.Language.' + curriculumVitae.language }}">{{ curriculumVitae.language }}</td>
              <td>{{ curriculumVitae.jobDescriptionHTML }}</td>
              <td>{{ curriculumVitae.startDate | formatMediumDate }}</td>
              <td>{{ curriculumVitae.endDate | formatMediumDate }}</td>
              <td jhiTranslate="{{ 'zsWebsiteApp.WorkingStatus.' + curriculumVitae.status }}">{{ curriculumVitae.status }}</td>
              <td jhiTranslate="{{ 'zsWebsiteApp.WorkingType.' + curriculumVitae.type }}">{{ curriculumVitae.type }}</td>
              <td>{{ curriculumVitae.category }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/curriculum-vitae', curriculumVitae.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/curriculum-vitae', curriculumVitae.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(curriculumVitae)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (curriculumVitaes && curriculumVitaes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
