<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (pageContent) {
      <div>
        <h2 data-cy="pageContentDetailsHeading"><span jhiTranslate="zsWebsiteApp.pageContent.detail.title">Page Content</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ pageContent.id }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.pageContent.sectionKey">Section Key</span></dt>
          <dd>
            <span>{{ pageContent.sectionKey }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.pageContent.contentHtml">Content Html</span></dt>
          <dd>
            <span>{{ pageContent.contentHtml }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/page-content', pageContent.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
