<div class="modal-header border-0">
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  <div class="modal-title-container">
    <h2 class="modal-title mb-0">
      <ng-container *ngIf="project?.title; else aboutMeTitle">
        {{ project?.title }}
      </ng-container>
      <ng-template #aboutMeTitle>
        <span jhiTranslate="landing.navAbout"></span>
      </ng-template>
    </h2>
  </div>
</div>

<div class="modal-body d-flex flex-column">
  <div class="columns-wrapper">
    <!-- Left Column: Media -->
    <div class="media-column" (wheel)="onMediaWheel($event)">
      <div class="media-container" #mediaContainer>
        <ng-container *ngIf="mediaUrls?.length; else noMedia">
          <ng-container *ngIf="currentUrl as current">
            <img
              *ngIf="getMediaType(current) === 'IMAGE'"
              [src]="getFullMediaPath(current)"
              alt="Media"
              class="img-fluid rounded project-media-clickable"
              (click)="openFullscreenMedia()"
            />
            <video
              *ngIf="getMediaType(current) === 'VIDEO'"
              [src]="getFullMediaPath(current)"
              class="img-fluid rounded project-media-clickable"
              autoplay
              muted
              loop
              controls
              (click)="openFullscreenMedia()"
            >
              <!--              <source [src]="getFullMediaPath(current)" type="video/mp4" />-->
            </video>
          </ng-container>
        </ng-container>

        <ng-template #noMedia>
          <img src="/content/images/default-profile.jpg" alt="Media" class="img-fluid rounded" />
        </ng-template>
      </div>
    </div>

    <!-- Right Column: About Text -->
    <div class="details-column">
      <div class="modal-details-content">
        <div class="modal-description" [innerHTML]="sanitizedContent"></div>
      </div>
    </div>
  </div>

  <!-- Media Navigation -->
  <div class="media-navigation" *ngIf="hasMultipleMedia">
    <button class="btn btn-link nav-button" (click)="switchMedia(currentMediaIndex - 1)">
      <fa-icon icon="chevron-left"></fa-icon>
    </button>
    <span class="mx-2">{{ currentMediaIndex + 1 }} / {{ mediaUrls.length }}</span>
    <button class="btn btn-link nav-button" (click)="switchMedia(currentMediaIndex + 1)">
      <fa-icon icon="chevron-right"></fa-icon>
    </button>
  </div>
</div>
