<div class="container my-5 py-5" *ngIf="post$ | async as post; else loadingOrError">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <article class="blog-article">
        <header class="mb-4">
          <h1 class="article-title mb-1">{{ post.title }}</h1>
          <div class="text-muted fst-italic mb-2">Posted on {{ post.publishedDate | date: 'longDate' }}</div>
        </header>

        <figure class="mb-4">
          <img
            class="img-fluid rounded"
            [src]="post.imageUrl ? 'content/media/' + post.imageUrl : 'content/media/default-blog.jpg'"
            [alt]="post.title"
          />
        </figure>

        <!-- The main post content -->
        <!--        <section class="modal-description" [innerHTML]="post.contentHTML"></section>-->
        <!--        <section class="card-text" [innerHTML]="post.contentHTML"></section>-->
        <section class="article-body" [innerHTML]="post.contentHTML | removeSoftHyphens | safeHtml"></section>
      </article>
      <hr />
      <a routerLink="/blog" jhiTranslate="global.goBack"></a>
    </div>
  </div>
</div>

<!-- Template to show while loading or if an error occurs -->
<ng-template #loadingOrError>
  <div class="container my-5 py-5 text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
