<div>
  <h2 id="page-heading" data-cy="ProjectImageHeading">
    <span jhiTranslate="zsWebsiteApp.projectImage.home.title">Project Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="zsWebsiteApp.projectImage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-image"
        [routerLink]="['/project-image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zsWebsiteApp.projectImage.home.createLabel">Create a new Project Image</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (projectImages().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="zsWebsiteApp.projectImage.home.notFound">No Project Images found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imageUrl">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.projectImage.imageUrl">Image Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caption">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.projectImage.caption">Caption</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="project.id">
              <div class="d-flex">
                <span jhiTranslate="zsWebsiteApp.projectImage.project">Project</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (projectImage of projectImages(); track trackId(projectImage)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/project-image', projectImage.id, 'view']">{{ projectImage.id }}</a>
              </td>
              <td>{{ projectImage.imageUrl }}</td>
              <td>{{ projectImage.caption }}</td>
              <td>
                @if (projectImage.project) {
                  <div>
                    <a [routerLink]="['/project', projectImage.project.id, 'view']">{{ projectImage.project.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/project-image', projectImage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/project-image', projectImage.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(projectImage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
