<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (businessService) {
      <div>
        <h2 data-cy="businessServiceDetailsHeading">
          <span jhiTranslate="zsWebsiteApp.businessService.detail.title">Business Service</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ businessService.id }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.businessService.title">Title</span></dt>
          <dd>
            <span>{{ businessService.title }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.businessService.descriptionHTML">Description HTML</span></dt>
          <dd>
            <span>{{ businessService.descriptionHTML }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.businessService.icon">Icon</span></dt>
          <dd>
            <span>{{ businessService.icon }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/business-service', businessService.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
