<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (blogPost) {
      <div>
        <h2 data-cy="blogPostDetailsHeading"><span jhiTranslate="zsWebsiteApp.blogPost.detail.title">Blog Post</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ blogPost.id }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.blogPost.title">Title</span></dt>
          <dd>
            <span>{{ blogPost.title }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.blogPost.contentHTML">Content HTML</span></dt>
          <dd>
            <span>{{ blogPost.contentHTML }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.blogPost.imageUrl">Image Url</span></dt>
          <dd>
            <span>{{ blogPost.imageUrl }}</span>
          </dd>
          <dt><span jhiTranslate="zsWebsiteApp.blogPost.publishedDate">Published Date</span></dt>
          <dd>
            <span>{{ blogPost.publishedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/blog-post', blogPost.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
