<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">Reset your password</h1>

      <jhi-alert-error />

      <!-- Main content block with an else condition -->
      <div *ngIf="!success(); else successBlock">
        <div class="alert alert-warning">
          <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register</span>
        </div>
        <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
            />

            <ng-container *ngIf="resetRequestForm.get('email') as emailRef">
              <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                <div>
                  <small
                    *ngIf="emailRef.errors?.required"
                    class="form-text text-danger"
                    jhiTranslate="global.messages.validate.email.required"
                  >
                    Your email is required.
                  </small>
                  <small *ngIf="emailRef.errors?.email" class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                  </small>
                  <small
                    *ngIf="emailRef.errors?.minlength"
                    class="form-text text-danger"
                    jhiTranslate="global.messages.validate.email.minlength"
                  >
                    Your email is required to be at least 5 characters.
                  </small>
                  <small
                    *ngIf="emailRef.errors?.maxlength"
                    class="form-text text-danger"
                    jhiTranslate="global.messages.validate.email.maxlength"
                  >
                    Your email cannot be longer than 50 characters.
                  </small>
                </div>
              </div>
            </ng-container>
          </div>
          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            data-cy="submit"
            jhiTranslate="reset.request.form.button"
          >
            Reset password
          </button>
        </form>
      </div>

      <!-- The "else" block for the success message -->
      <ng-template #successBlock>
        <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success">Check your email for details on how to reset your password.</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
